{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{% block title %}About the Blubird Recovery Program of Minnesota{% endblock %}</h1>
    <hr>
    <h3 style="color: blue">History of the Bluebird Recovery Program</h3>
    <p>Bluebird numbers declined dramatically during the past century. Loss of habitat and suitable nesting sites and
        competition with non-native house sparrows and starlings were the main reasons. In the 1960’s Dick and Vi
        Peterson were concerned about the decline of bluebirds in Minnesota and they began building nest boxes. Dick
        began recording detailed observations and was constantly altering his nest box design and improving his methods
        of controlling parasites and predators.</p>
    <p>In 1978 the Audubon Chapter of Minneapolis (AOM) was asked to fund an Eagle Scout project. A young Boy Scout
        knew about Dick Peterson and about his bluebirds and wanted to work with the Petersons to set up a trail. 12
        members of the chapter became interested and formed a little bluebird club to monitor the trail. In 1979, their
        first year, they recorded 22 fledglings.</p>
    <p>After a newspaper article appeared featuring his longtime bluebird work and his unique nest box, Dick Peterson
        went to the Audubon Chapter of Minneapolis asking for help in answering hundreds of letters and nest box plan
        requests he had received. The Bluebird Recovery Program (BBRP) was quickly organized as a committee of The
        Minneapolis Chapter of the National Audubon Society with Dorene Scriven as the chairperson. In 1982 the first
        bluebird conference was held and 50 people came. Originally part of the Conservation Committee, BBRP eventually
        became financially independent, but still retained the non-profit status of the Audubon Chapter. BBRP has also
        had a close association with the Minnesota DNR Nongame Wildlife Program and its director Carrol Henderson. In
        1988 the DNR funded a survey of bluebird trails. Through joint restoration efforts Minnesota now has one of the
        most successful bluebird recovery projects in the nation. In 1988, with financial help from the DNR Nongame
        Wildlife Fund, the first edition of “Bluebird trails; a guide to success” written by Dorene Scriven was
        published. Another pioneer in bluebird trails is Steve Gilbertson of Aitkin MN who developed the Gilwood wood
        nest box and the Gilbertson PVC nest box.</p>
    <p>At the time of organizing back in the 1970s, BBRP was the first state bluebird organization in the nation. As a
        result, its membership rose to 2300. When many other states created their own bluebird clubs or programs, many
        joined their own state organization with BBRP’s encouragement. The current membership still includes individuals
        outside of Minnesota, primarily in Wisconsin and Iowa.</p>
    <p>In October 2018, after its 40-year affiliation with AOM, BBRP began the process of becoming its own independent
        non-profit 501(c)(3) organization. In 2019 the transition was successfully completed under the official name of
        Bluebird Recovery Program of Minnesota. We are looking forward to our next 40 years “bringing back bluebirds for
        future generations!”</p>
    <h3>Organization</h3>
    <p>The volunteer BBRP Board, along with guiding the policies and decisions of the organization, hosts an Annual
        “Expo” Conference where hundreds of Bluebirders gather to share information and attend interesting and
        educational birding related sessions.  County Coordinators are available to assist and advise Bluebirders
        throughout the state. Their contact information can be found on our website here, along with information on how
        to report yearly trail monitoring results, how to become a BBRP member and many helpful tips to improve
        bluebirding successes.</p>
    <h3>Advantages of Becoming a Member</h3>
    <p>Membership in the Bluebird Recovery Program includes: an initial Information packet containing a full color Trial
        Guide, Top Ten Tips including colored Nest Guide, Record Keeping booklet, Pole Assembly instruction sheet,
        yearly Report Form and quarterly Newsletter.  Membership contributions are tax deductible.</p>
    <p><i>BBRP is an affiliate of the North American Bluebird Society (NABS) and cooperates with the Nongame Wildife
        Program of the Minnesota Department of Natural Resources.</i></p>
</div>
{% endblock %}