{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Helpful Links</h1>
  <div>
    <h3>Minnesota</h3>
    <p><a href="https://wp.stolaf.edu/naturallands/blue-bird-trails/">Saint Olaf College</a></p>
    <p><a href="http://mn.audubon.org/">Minnesota Audubon</a></p>
    <p><a href="http://www.audubon-center.org/">North Woods Audubon Center</a></p>
    <p><a href="http://www.saintpaulaudubon.org/">Saint Paul Audubon</a></p>
    <p><a href="https://www.minneapolisaudubon.org/">Audubon Chapter of Minneapolis</a></p>
  </div>
  <div>
    <h3>Other States</h3>
    <p><a href="http://www.braw.org/">Bluebird Restoration Association of Wisconsin</a></p>
    <p><a href="http://www.bbne.org/">Bluebirds Across Nebraska</a></p>
    <p><a href="http://www.nysbs.org/">New York State Bluebird Society</a></p>
    <p><a href="http://www.ohiobluebirdsociety.org/">Ohio Bluebird Society</a></p>
    <p><a href="https://michiganbluebirds.org//">Michigan Bluebird Society</a></p>
  </div>
  <div>
    <h3>National</h3>
    <p><a href="http://www.nabluebirdsociety.org/">North American Bluebird Society</a></p>
    <p><a href="http://www.sialis.org/">Sialis.org</a> (This website is packed with information on Bluebirds)</p>
  </div>
  <div>
    <h3>Other Sites</h3>
    <p><a href="https://en.wikipedia.org/wiki/Bluebird">Bluebird Wikipedia page</a></p>
    <p><a href="http://www.birds.cornell.edu/Page.aspx?pid=1478&ac=ac">University of Cornell, Lab of Ornithology</a></p>
  </div>
</div>
{% endblock %}